/* body {
  background-color: #7286D3;
}





  .form-style input{
    height:55px;
  border-bottom:1px solid #ebebeb;	
 
  
  }
  .form-style input:focus{
    border-bottom:2px solid #87A2FB;	
  box-shadow:none;
  outline:0;
  }
  
  #btn1 {
    width: 85%;
    text-align: center;
    height:50px;	
  font-size: 22px;
    
  }
  #btn2{
    align-items: center;
    text-align: center;
  } */